@import "variables";
@import "mixins";
@import "offcanvas";
@import "setting-slick";

section {
  padding: 100px 0 0 0;
}

.img-round {
  border-radius: 5px;
}

.navbar {
  background-color: transparent;
  transition: .3s ease-in-out;
  border-bottom: 1px solid #eee;
  padding: 0;
  display: flex;
  flex-direction: column;
  height: 115px;

  &.fixed {
    height: 60px;
    background-color: $white;
    transition: .3s ease-in-out;
  }

  .container {
    padding: 20px 0;
  }
}

.nav-item {
  padding: 0 32px;
}

.nav-link {
  color: $white;
  transition: .3s ease-in-out;
  font-weight: 600;
  font-size: 16px;
  text-transform: uppercase;


  &.fixed-color {
    color: $black;
    transition: .3s ease-in-out;
  }

  &:hover {
    color: $black;
  }
}

.navbar-brand {
  width: 150px;

  img {
    width: 100%;
  }
}

.navbar-collapse {
  justify-content: flex-end;
}

.nav-top__header {
  width: 100%;
  background-color: $lightBlack;
  padding: 10px;
  transition: .3s ease-in-out;

  &.nav-top__header--detele {
    display: none !important;
    transition: .3s ease-in-out;
  }
}

.nav-top__content {
  padding: 0 100px;
}

.main-nav__contact {
  a {
    color: $lightWhite;
    text-decoration: none;
  }
}

.main-nav__redes {
  a {
    color: $lightWhite;
    margin-right: 5px;
  }
}

.main-banner {
  position: relative;
  overflow: hidden;
  margin-top: -80px;

  .main-banner__item {
    position: relative;
  }

  .mask {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);

    .main-banner__text {
      position: absolute;
      top: 40%;
      width: 55%;
      left: 10%;


      .main-banner__title {
        p {
          padding: 0 25px;
          color: $white;
          font-size: 70px;
          font-weight: 800;
          line-height: 1;
          margin: 0;
          font-family: $CenturyGothic;
        }

        span {
          padding: 0 25px;
          color: $white;
          font-size: 60px;
          font-weight: 500;
          line-height: 1;
          margin: 0;
        }
      }

      .main-banner__description {
        padding: 0 25px;
        color: $white;
        font-size: 20px;
        line-height: 2rem;
        margin: 50px 0 0 0;
      }
    }
  }

  .main-banner__img {
    width: 100%;
    height: 105vh;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}


.main-about__content {
  display: grid;
  grid-template-columns: 60% 40%;
}

.main-about__imgs {
  display: grid;
  grid-template-columns: 45% 55%;
}

.main-about__img--first {
  margin-top: 50px;
  width: 200px;
  height: 300px;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.main-about__img--second {
  width: 300px;
  height: 400px;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.main-general__info {
  &.main-general__info--right {
    text-align: right;
  }

  .main-general__title {
    font-size: 50px;
    font-weight: 700;
  }

  .main-general__description {
    color: #707070;
    font-size: 15px;
    line-height: 25px;
  }
}

.main-general-text {
  display: block;
  margin: 0;
  font-style: italic;
  color: $orange;
  font-size: 18px;
  line-height: 22px;

  &:before {
    content: "_____";
    margin: 0 5px;
    bottom: .5em;
    position: relative;
  }

}

.main-client__title {
  font-size: 50px;
  font-weight: 700;
}

.main-client__content {
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  margin-top: 50px;

  .main-client__item {
    width: 100%;
    // background-color: #eee;
    // border: 1px solid #ccc;
    padding: 20px;

    img {
      width: 100%;
    }
  }
}

// training
.main-training {
  .main-training__body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    background: #fff;
    margin-bottom: 50px;
    margin-top: 50px;

    .main__super {
      padding: 0 50px;
    }
  }

  .main-training__img {
    text-align: center;

    &.main-training__img--two {
      margin-top: 50px;
    }

    img {
      width: 100%;
      height: 440px;
      border-radius: 5px;
      object-fit: cover;
    }
  }

  .main-training__process {
    display: inline-block;

    .main-training__text {
      padding: 0;
      opacity: 1;
      float: left;
      text-align: left;
      position: relative;

      p {
        color: gray;
        font-size: 15px;
        line-height: 23px;
        font-weight: 400;
      }
    }

    span {
      color: rgba(223, 130, 57, 0.67);
      font-size: 4rem;
      font-weight: 800;
      margin-bottom: 70px;
    }
  }

  .main-training__number {
    display: inline-flex;
    position: relative;
    align-items: center;

    &:nth-child(1):before {
      width: 1px;
      height: 46%;
      background: rgba(223, 130, 57, 0.67);
      content: '';
      position: absolute;
      bottom: 0;
      left: 7%;
    }

    &:nth-child(3):before {
      width: 1px;
      height: 46%;
      background: rgba(223, 130, 57, 0.67);
      content: '';
      position: absolute;
      bottom: 0;
      left: 5%;
    }
  }

  .main-training__title {
    h2 {
      font-size: 1rem;
      font-weight: 700;
    }
  }

  .main-training__container {
    margin-left: 45px;
  }
}

.main-parallax {
  background-image: url('../img/about.jpg');
  background-size: cover;
  height: 70vh;
  background-attachment: fixed;
  position: relative;
  background-position: 50% -140px;

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: black;
    opacity: .5;
  }
}

.main-service__content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 15px;
  margin-top: 50px;
}

.main-service__box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-service__info {
  padding: 15px 10px;
  text-align: center;
}

.main-service__title {
  color: $lightBlack;
  font-size: 18px;
  font-weight: 600;
}

.main-service__description {
  color: gray;
  font-size: 15px;
  line-height: 23px;
  font-weight: 400;
}

.main-service__img {
  width: 100px;
  height: 100px;

  img {
    width: 100%;
    height: 100%;
  }
}

.main-footer {
  padding: 50px 0;
  // background-color: #000;
}

.main-footer__content {
  display: flex;
  justify-content: space-between;
}

.main-footer__contact {
  a {
    color: $orange;
    font-size: 17px;

  }
}

.main-footer__redes {
  a {
    color: $orange;
    font-size: 17px;
    margin-right: 5px;
  }
}