!!!
%html{lang: "en"}
  %head
    %meta{charset: "UTF-8"}/
    %meta{content: "width=device-width, initial-scale=1.0", name:"viewport"}/
    %title Fuerza de ventas remotas
    %link{rel: "stylesheet", href:"assets/css/bootstrap.min.css"}/
    %link{rel: "stylesheet", href:"assets/css/main.css"}/
    %link{rel: "stylesheet", href:"assets/css/slick.css"}/
    %link{rel: "stylesheet", href:"assets/css/slick-theme.css"}/
    %link{rel: "stylesheet", href:"assets/css/font-awesome.css"}/
  %body

    %header#home
      %nav.navbar.navbar-expand-lg.fixed-top.navbar-fixed-js
        .nav-top__header
          .nav-top__content.d-flex.pl-4.pr-4.justify-content-between
            .main-nav__contact
              %a.mr-3{ href: '#' }
                %i.fa.fa-phone 
                %span (+569) 0 123 45 67
              %a{ href: '#' }
                %i.fa.fa-envelope
                %span Contacto@fuerzadeventaremota.cl
            .main-nav__redes
              %a{ href: '#' }
                %i.fa.fa-facebook 
              %a{ href: '#' }
                %i.fa.fa-twitter
              %a{ href: '#' }
                %i.fa.fa-linkedin

        .container
          .main-brand
            %a.navbar-brand{:href => "#"}
              %img#iso{:src => "assets/img/logo.png"}/
            %button.navbar-toggler.p-2.border-0.hamburger.hamburger--elastic.ml-autos{"data-toggle" => "offcanvas", :type => "button"}
              %span.hamburger-box
                %span.hamburger-inner
          .navbar-collapse.offcanvas-collapse
            %ul.navbar-nav.mr-autos
              %li.nav-item
                %a.nav-link.active{:href => "#home"} Inicio
              %li.nav-item
                %a.nav-link{:href => "#about"} Nosotros
              %li.nav-item
                %a.nav-link{:href => "#service"} Servicios
              %li.nav-item
                %a.nav-link{:href => "#training"} Capacitacion
              %li.nav-item
                %a.nav-link{:href => "#client"} Clientes

    .main-banner
      .main-banner__content
        .main-banner__item
          .mask
            .main-banner__text
              .main-banner__title
                %p Somos expetos en lo que hacemos
              .main-banner__description
                %p Modelo innovador en cuanto a tecnicas comerciales y de partnership con nuestros clientes 
          .main-banner__img
            %img{ :src => "https://images.unsplash.com/photo-1552664730-d307ca884978?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80"}/
        .main-banner__item
          .mask
            .main-banner__text
              .main-banner__title
                %p Deja tu gestion comercial en nuestras manos
              .main-banner__description
                %p Nos enfocamos en generacion de leads combinando nuestras experiencia en ventas + el marketing digital.
          .main-banner__img
            %img{ :src => "https://images.unsplash.com/photo-1454165804606-c3d57bc86b40?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80"}/
    %section.main-about#about
      .container
        .main-about__content
          .main-about__imgs
            .main-about__img--first
              %img.img-round{ :src => "https://images.unsplash.com/photo-1539343915366-4da26f7a1f2c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80"}/
            .main-about__img--second
              %img.img-round{ :src => "https://images.unsplash.com/photo-1542744173-8e7e53415bb0?ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80"}/
          .main-general__info.main-about__text
            .main-general-text
              Nosotros
            .main-general__title
              Quienes Somos
            %p.main-about__description De acuerdo a los tiempos de hoy, donde la inclusion es un derecho humano, ofrecemos un servicio unico en el mercado, aprovechando la experiencia en ventas de mujeres que han decidido dedicar tiempo a sus hijos y trabajar desde casa, las cuales reincertamos en el mercado laboral, no perdiendo el foco en el cliente y en las metas a conseguir.
            %p.main-about__description Por otra parte, nuestros honorarios se basan en un metodo sin par para empresas en proceso de crecimiento comercial.
    %section.main-service#service
      .container
        .main-general__info
          .main-general-text
            Nosotros
          .main-general__title
            Servicios
        .main-service__content
          .main-service__item
            .main-service__box
              .main-service__img
                %img.img-round{ :src => "assets/img/icons/win.png"}/
              .main-service__info
                .main-service__title
                  Leads calificados
                .main-service__description
                  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Natus nostrum saepe dolor, repellendus impedit.
          .main-service__item
            .main-service__box
              .main-service__img
                %img.img-round{ :src => "assets/img/icons/meeting.png"}/
              .main-service__info
                .main-service__title
                  Reuniones con prospectos  de clientes
                .main-service__description
                  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Natus nostrum saepe dolor, repellendus impedit.
          .main-service__item
            .main-service__box
              .main-service__img
                %img.img-round{ :src => "assets/img/icons/sales.png"}/
              .main-service__info
                .main-service__title
                  Fuerza de ventas
                .main-service__description
                  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Natus nostrum saepe dolor, repellendus impedit.

    %section.main-training.container#training
      .main-training__content
        .main-general__info
          .main-general-text
            Capacitacion de
          .main-general__title
            Ventas y productos
        .main-training__body
          .main-training__img
            %img{ :src => "https://images.unsplash.com/photo-1521737711867-e3b97375f902?ixlib=rb-1.2.1&auto=format&fit=crop&w=334&q=80"}/
          .main__super  
            .main-training__process
              .main-training__number
                %span 01
                .main-training__container
                  .main-training__title
                    %h2 Capacitacion de productos
                  .main-training__text
                    %p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Esse ea molestias inventore? Consectetur doloribus aut minus error temporibus aliquam.
              .main-training__process
              .main-training__number
                %span 02
                .main-training__container
                  .main-training__title
                    %h2 Capacitacion en tecnicas de ventas
                  .main-training__text
                    %p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Esse ea molestias inventore? Consectetur doloribus aut minus error temporibus aliquam.
              .main-training__process
              .main-training__number
                %span 03
                .main-training__container
                  .main-training__title
                    %h2 Capacitacion operacional
                  .main-training__text
                    %p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Esse ea molestias inventore? Consectetur doloribus aut minus error temporibus aliquam.
        .main-general__info.main-general__info--right
          .main-general-text
            Prospeccion y Seguimiento 
          .main-general__title
            De Clientes
        .main-training__body.main-training__body--right
          .main-training__process
            .main__super
              .main-training__number
                %span 01
                .main-training__container
                  .main-training__title
                    %h2 Capacitacion de productos
                  .main-training__text
                    %p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Esse ea molestias inventore? Consectetur doloribus aut minus error temporibus aliquam.
              .main-training__process
              .main-training__number
                %span 02
                .main-training__container
                  .main-training__title
                    %h2 Capacitacion en tecnicas de ventas
                  .main-training__text
                    %p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Esse ea molestias inventore? Consectetur doloribus aut minus error temporibus aliquam.
              .main-training__process
              .main-training__number
                %span 03
                .main-training__container
                  .main-training__title
                    %h2 Capacitacion operacional
                  .main-training__text
                    %p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Esse ea molestias inventore? Consectetur doloribus aut minus error temporibus aliquam.  
          .main-training__img
            
            %img{ :src => "https://images.unsplash.com/photo-1521898284481-a5ec348cb555?ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60"}/
    

    %section.main-client#client
      .container
        .main-general__info
          .main-general-text
            Nuestros clientes
          .main-general__title
            Clientes
        .main-client__content
          .main-client__item
            .main-client__img
              %img.img-round{ :src => "assets/img/clients/1.jpg"}/
          .main-client__item
            .main-client__img
              %img.img-round{ :src => "assets/img/clients/2.png"}/
          .main-client__item
            .main-client__img
              %img.img-round{ :src => "assets/img/clients/3.png"}/
          .main-client__item
            .main-client__img
              %img.img-round{ :src => "assets/img/clients/4.png"}/
          .main-client__item
            .main-client__img
              %img.img-round{ :src => "assets/img/clients/5.png"}/
          .main-client__item
            .main-client__img
              %img.img-round{ :src => "assets/img/clients/6.png"}/
          .main-client__item
            .main-client__img
              %img.img-round{ :src => "assets/img/clients/7.png"}/
          .main-client__item
            .main-client__img
              %img.img-round{ :src => "assets/img/clients/3.png"}/
          .main-client__item
            .main-client__img
              %img.img-round{ :src => "assets/img/clients/4.png"}/
          .main-client__item
            .main-client__img
              %img.img-round{ :src => "assets/img/clients/5.png"}/  

    %section.main-parallax.main-how
      .overlay
      .main-general__info.main-general__info--white
        .main-general-text
          Prospeccion y Seguimiento 
        .main-general__title
          Seleccion
      
      .main-parallax__content.container
        %ul
          %li
            %input{:checked => "checked", :type => "checkbox"}/
            %i
            %h3 El perfil
            %p Trabajamos con mujeres con experiencia en ventas y que requieren trabajar desde casa, entregando desde cuatro horas de servicio diario en horario de oficina
          %li
            %input{:checked => "checked", :type => "checkbox"}/
            %i
            %h3 La oferta
            %p Publicamos en portales de empleo con gran cantidad de visitas del perfil buscado, manteniendo siempre la confidencialidad de nuestro partner.
          %li
            %input{:checked => "checked", :type => "checkbox"}/
            %i
            %h3 Preseleccion
            %p Luego de la revision de los antecedentes y antes de las entrevistas presenciales, se realiza una entrevista telefonica para conocer los intereses y las aptitudes de las postulantes
        %ul
          %li
            %input{:checked => "checked", :type => "checkbox"}/
            %i
            %h3 Entrevistas
            %p Tras el informe entregado acerca de la entrevista telefonica y luego de un analisis, se cita a los mejores perfiles a una entrevista personal para realizar la seleccion final
          %li
            %input{:checked => "checked", :type => "checkbox"}/
            %i
            %h3 Seleccion final
            %p Luego de la realizacion de una entrevista personal y la toma de test de ventas, se selecciona a la cantidad de Ejecutivas que el cliente haya encargado mas un 50% como backup
          %li
            %input{:checked => "checked", :type => "checkbox"}/
            %i
            %h3 Recomendacion de sicologo laboral
            %p Los perfiles seleccionados se envianpara una entrevista con un sicologo laboral quien entrega su recomendacion para el cargo buscado
    %section.main-steps
      .container
        .main-general__info
          .main-general-text
            Paso a seguir
          .main-general__title
            ¿Cómo lo hacemos?
        .main-steps__content.main-steps__content-desktop
          .main-steps__body
            %span 1
            %p Establecemos metas y estrategias de ventas en conjunto con nuestros clientes.
          .main-steps__body
            %span 2
            %p Seleccionamos perfiles con experiencia en ventas y requerimiento de trabajar desde casa.
          .main-steps__body
            %span 3
            %p Capacitamos en conjunto con nuestros clientes.
          .main-steps__body
            %span 4
            %p Construimos un flujo de ventas ajustados a los productos/servicios que nuestros clientes comercializan.
          .main-steps__body
            %span 5
            %p Entregamos informes y forecast de negocios.
          .main-steps__body
            %span 6
            %p Nuestra estructura organizacional se orienta a la venta.
          .main-steps__body
            %span 7
            %p Nos enfocamos a traspasar a nuestro equipo la cultura de nuestros clientes.
          .main-steps__body
            %span 8
            %p Prestamos servicios marketing en apoyo a la gestión comercial.

    %footer.main-footer
      .container
        .main-footer__content
          .main-footer__map
            %iframe{:allowfullscreen => "", :frameborder => "0", :height => "300", :src => "https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d18585.286111708312!2d-70.17975859254533!3d11.689088858577549!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses-419!2sve!4v1567191605838!5m2!1ses-419!2sve", :style => "border:0;", :width => "300"}

          .main-footer__contact
            .main-footer__info
              .main-footer__about
                .main-footer__subtitle
                  Siguenos
                -# .main-footer__title
                -#   Nosotros
                .main-footer__description
                  Por otra parte, nuestros honorarios se basan en un metodo sin par para empresas en proceso de crecimiento comercial.

              %a.mr-3{ href: '#' }
                %i.fa.fa-phone 
                %span (+569) 0 123 45 67
              %a{ href: '#' }
                %i.fa.fa-envelope
                %span Contacto@fuerzadeventaremota.cl
            -# .main-footer__redes
            -#   %a{ href: '#' }
            -#     %i.fa.fa-facebook 
            -#   %a{ href: '#' }
            -#     %i.fa.fa-twitter
            -#   %a{ href: '#' }
            -#     %i.fa.fa-linkedin
          .main-footer__form
            .main-footer__subtitle
              Contactanos
            %form
              .form-group
                %input#formGroupExampleInput.form-control{:placeholder => "Nombre y apellido", :type => "text"}/
              .form-group
                %input#formGroupExampleInput2.form-control{:placeholder => "Correo", :type => "text"}/
              .form-group
                %input#formGroupExampleInput2.form-control{:placeholder => "Teléfono", :type => "phone"}/
              .btn-box.float-right
                %button.btn_custom.btn--medium.btn--filled
                  Enviar
        .main-footer__copy
          %p
            %a{:href =>"http://cmarketing.cl/"}
              Contact Marketing | 
            Todos los derechos Reservados
    %script{src: "assets/js/jquery.min.js"}
    %script{src: "assets/js/bootstrap.min.js"}
    %script{src: "assets/js/slick.min.js"}
    %script{src: "assets/js/setting-slick.js"}
    %script{src: "assets/js/main.js"}
