@font-face {
  font-family: "Century Gothic";
  font-style: normal;
  src: url("../fonts/GOTHIC.TTF") format("ttf"), url("../fonts/GOTHICB.TTF") format("ttf"), url("../fonts/GOTHICBI.TTF") format("ttf"), url("../fonts/GOTHICI.TTF") format("ttf");
}

html,
body {
  overflow-x: hidden;
  /* Prevent scroll on narrow devices */
}

body {
  padding-top: 56px;
}

@media (max-width: 991.98px) {
  .offcanvas-collapse {
    position: fixed;
    top: 56px;
    /* Height of navbar */
    bottom: 0;
    left: 100%;
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    overflow-y: auto;
    visibility: hidden;
    background-color: #343a40;
    transition-timing-function: ease-in-out;
    transition-duration: .3s;
    transition-property: left, visibility;
  }

  .offcanvas-collapse.open {
    left: 0;
    visibility: visible;
  }
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  color: rgba(255, 255, 255, 0.75);
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.nav-underline .nav-link {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: .875rem;
  color: #6c757d;
}

.nav-underline .nav-link:hover {
  color: #007bff;
}

.nav-underline .active {
  font-weight: 500;
  color: #343a40;
}

.text-white-50 {
  color: rgba(255, 255, 255, 0.5);
}

.bg-purple {
  background-color: #6f42c1;
}

.lh-100 {
  line-height: 1;
}

.lh-125 {
  line-height: 1.25;
}

.lh-150 {
  line-height: 1.5;
}

.main-banner__content .slick-prev {
  z-index: 2;
  height: 40px;
  width: 40px;
  top: 55%;
  left: -1%;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.5);
  width: 65px;
  height: 64px;
}

.main-banner__content .slick-prev:before {
  font-size: 25px;
  color: #fff;
  content: "\f053";
  font-family: 'FontAwesome';
  z-index: 3;
}

.main-banner__content .slick-prev:hover {
  outline: none;
  background: transparent;
  color: #fff;
}

.main-banner__content .slick-next {
  right: -1%;
  z-index: 2;
  height: 40px;
  width: 40px;
  top: 55%;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.5);
  width: 65px;
  height: 64px;
}

.main-banner__content .slick-next:before {
  font-size: 25px;
  color: #fff;
  content: "\f054";
  font-family: 'FontAwesome';
}

.main-banner__content .slick-next:hover {
  outline: none;
  background: transparent;
  color: #fff;
}

.main-banner__content .slick-dots {
  z-index: 2;
  display: flex;
  position: absolute;
  bottom: 5%;
  right: 53%;
  width: 0%;
}

@media (min-width: 992px) and (max-width: 1199px) {
  .main-banner__content .slick-dots {
    left: 45%;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .main-banner__content .slick-dots {
    left: 45%;
  }
}

@media (min-width: 0px) and (max-width: 767px) {
  .main-banner__content .slick-dots {
    left: 35%;
  }
}

.main-banner__content .slick-dots .slick-active button:before {
  color: #00b050;
  opacity: 0.75;
  width: 35px;
  margin: 0;
}

.main-banner__content .slick-dots li {
  margin: 0 10px;
}

.main-banner__content .slick-dots li button:before {
  color: gray;
  content: '';
  height: 12px;
  width: 12px;
  display: inline-block;
  background: #DF8239;
  border-radius: 6px;
  cursor: pointer;
  transition: all 300ms ease;
}

.main-banner__content .slick-dots li button:hover:before, .main-banner__content .slick-dots li button:focus:before {
  color: #00b050;
}

.main-client__content .slick-dots {
  z-index: 2;
  display: flex;
  position: absolute;
  bottom: -30%;
  right: 55%;
  width: 0%;
}

@media (min-width: 992px) and (max-width: 1199px) {
  .main-client__content .slick-dots {
    left: 45%;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .main-client__content .slick-dots {
    left: 45%;
  }
}

@media (min-width: 0px) and (max-width: 767px) {
  .main-client__content .slick-dots {
    left: 35%;
  }
}

.main-client__content .slick-dots .slick-active button:before {
  color: #00b050;
  opacity: 0.75;
  width: 35px;
  margin: 0;
}

.main-client__content .slick-dots li {
  margin: 0 10px;
}

.main-client__content .slick-dots li button:before {
  color: gray;
  content: '';
  height: 12px;
  width: 12px;
  display: inline-block;
  background: #DF8239;
  border-radius: 6px;
  cursor: pointer;
  transition: all 300ms ease;
}

.main-client__content .slick-dots li button:hover:before, .main-client__content .slick-dots li button:focus:before {
  color: #00b050;
}

section {
  padding: 100px 0 0 0;
}

.img-round {
  border-radius: 5px;
}

.navbar {
  background-color: transparent;
  transition: .3s ease-in-out;
  border-bottom: 1px solid #eee;
  padding: 0;
  display: flex;
  flex-direction: column;
  height: 115px;
}

.navbar.fixed {
  height: 60px;
  background-color: #fff;
  transition: .3s ease-in-out;
}

.navbar .container {
  padding: 20px 0;
}

.nav-item {
  padding: 0 32px;
}

.nav-link {
  color: #fff;
  transition: .3s ease-in-out;
  font-weight: 600;
  font-size: 16px;
  text-transform: uppercase;
}

.nav-link.fixed-color {
  color: #000;
  transition: .3s ease-in-out;
}

.nav-link:hover {
  color: #000;
}

.navbar-brand {
  width: 150px;
}

.navbar-brand img {
  width: 100%;
}

.navbar-collapse {
  justify-content: flex-end;
}

.nav-top__header {
  width: 100%;
  background-color: #0B1A1C;
  padding: 10px;
  transition: .3s ease-in-out;
}

.nav-top__header.nav-top__header--detele {
  display: none !important;
  transition: .3s ease-in-out;
}

.nav-top__content {
  padding: 0 100px;
}

.main-nav__contact a {
  color: #F7FCF9;
  text-decoration: none;
}

.main-nav__redes a {
  color: #F7FCF9;
  margin-right: 5px;
}

.main-banner {
  position: relative;
  overflow: hidden;
  margin-top: -80px;
}

.main-banner .main-banner__item {
  position: relative;
}

.main-banner .mask {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
}

.main-banner .mask .main-banner__text {
  position: absolute;
  top: 40%;
  width: 55%;
  left: 10%;
}

.main-banner .mask .main-banner__text .main-banner__title p {
  padding: 0 25px;
  color: #fff;
  font-size: 70px;
  font-weight: 800;
  line-height: 1;
  margin: 0;
  font-family: "Century Gothic", sans-serif;
}

.main-banner .mask .main-banner__text .main-banner__title span {
  padding: 0 25px;
  color: #fff;
  font-size: 60px;
  font-weight: 500;
  line-height: 1;
  margin: 0;
}

.main-banner .mask .main-banner__text .main-banner__description {
  padding: 0 25px;
  color: #fff;
  font-size: 20px;
  line-height: 2rem;
  margin: 50px 0 0 0;
}

.main-banner .main-banner__img {
  width: 100%;
  height: 105vh;
}

.main-banner .main-banner__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.main-about__content {
  display: grid;
  grid-template-columns: 60% 40%;
}

.main-about__imgs {
  display: grid;
  grid-template-columns: 45% 55%;
}

.main-about__img--first {
  margin-top: 50px;
  width: 200px;
  height: 300px;
}

.main-about__img--first img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.main-about__img--second {
  width: 300px;
  height: 400px;
}

.main-about__img--second img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.main-general__info.main-general__info--right {
  text-align: right;
}

.main-general__info.main-general__info--white {
  color: #fff;
  z-index: 9;
  position: absolute;
  left: 100px;
}

.main-general__info .main-general__title {
  font-size: 50px;
  font-weight: 700;
}

.main-general__info .main-general__description {
  color: #707070;
  font-size: 15px;
  line-height: 25px;
}

.main-general-text {
  display: block;
  margin: 0;
  font-style: italic;
  color: #DF8239;
  font-size: 18px;
  line-height: 22px;
}

.main-general-text:before {
  content: "_____";
  margin: 0 5px;
  bottom: .5em;
  position: relative;
}

.main-client__title {
  font-size: 50px;
  font-weight: 700;
}

.main-client__content {
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  margin-top: 50px;
}

.main-client__content .main-client__item {
  width: 100%;
  padding: 20px;
}

.main-client__content .main-client__item img {
  width: 100%;
}

.main-training .main-training__body {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  background: #fff;
  margin-bottom: 50px;
  margin-top: 50px;
}

.main-training .main-training__body .main__super {
  padding: 0 50px;
}

.main-training .main-training__img {
  text-align: center;
}

.main-training .main-training__img.main-training__img--two {
  margin-top: 50px;
}

.main-training .main-training__img img {
  width: 100%;
  height: 440px;
  border-radius: 5px;
  object-fit: cover;
}

.main-training .main-training__process {
  display: inline-block;
}

.main-training .main-training__process .main-training__text {
  padding: 0;
  opacity: 1;
  float: left;
  text-align: left;
  position: relative;
}

.main-training .main-training__process .main-training__text p {
  color: gray;
  font-size: 15px;
  line-height: 23px;
  font-weight: 400;
}

.main-training .main-training__process span {
  color: rgba(223, 130, 57, 0.67);
  font-size: 4rem;
  font-weight: 800;
  margin-bottom: 70px;
}

.main-training .main-training__number {
  display: inline-flex;
  position: relative;
  align-items: center;
}

.main-training .main-training__number:nth-child(1):before {
  width: 1px;
  height: 46%;
  background: rgba(223, 130, 57, 0.67);
  content: '';
  position: absolute;
  bottom: 0;
  left: 7%;
}

.main-training .main-training__number:nth-child(3):before {
  width: 1px;
  height: 46%;
  background: rgba(223, 130, 57, 0.67);
  content: '';
  position: absolute;
  bottom: 0;
  left: 5%;
}

.main-training .main-training__title h2 {
  font-size: 1rem;
  font-weight: 700;
}

.main-training .main-training__container {
  margin-left: 45px;
}

.main-parallax {
  background-image: url("../img/about.jpg");
  background-size: cover;
  height: 85vh;
  background-attachment: fixed;
  position: relative;
  background-position: 50% -140px;
}

.main-parallax .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: black;
  opacity: .5;
}

<<<<<<< HEAD
.main-parallax .main-parallax__content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 80px;
  background: transparent;
  margin: 120px;
}

.main-how h3 {
  color: #fff;
}

.main-how p {
  color: #fff;
}

.main-how .transition, .main-how p {
  transition: all 0.25s ease-in-out;
}

.main-how ul li i:before, .main-how ul li i:after {
  transition: all 0.25s ease-in-out;
}

.main-how .flipIn, .main-how h1, .main-how ul li {
  animation: flipdown 0.5s ease both;
}

.main-how ul {
  list-style: none;
  perspective: 900;
  padding: 0;
  margin: 0;
}

.main-how ul li {
  position: relative;
  padding: 0;
  margin: 0;
  padding-bottom: 0;
  padding-top: 18px;
  border-bottom: 1px solid #ffffff66;
}

.main-how ul li:nth-of-type(1) {
  animation-delay: 0.5s;
}

.main-how ul li:nth-of-type(2) {
  animation-delay: 0.75s;
}

.main-how ul li:nth-of-type(3) {
  animation-delay: 1s;
}

.main-how ul li:last-of-type {
  padding-bottom: 0;
}

.main-how ul li i {
  position: absolute;
  transform: translate(-6px, 0);
  margin-top: 16px;
  right: 0;
}

.main-how ul li i:before, .main-how ul li i:after {
  content: "";
  position: absolute;
  background-color: #e66f02;
  width: 2px;
  height: 8px;
}

.main-how ul li i:before {
  transform: translate(-2px, 0) rotate(45deg);
}

.main-how ul li i:after {
  transform: translate(2px, 0) rotate(-45deg);
}

.main-how ul li input[type=checkbox] {
  position: absolute;
  cursor: pointer;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
}

.main-how ul li input[type=checkbox]:checked ~ p {
  margin-top: 0;
  max-height: 0;
  opacity: 0;
  transform: translate(0, 50%);
}

.main-how ul li input[type=checkbox]:checked ~ i:before {
  transform: translate(2px, 0) rotate(45deg);
}

.main-how ul li input[type=checkbox]:checked ~ i:after {
  transform: translate(-2px, 0) rotate(-45deg);
}

@keyframes flipdown {
  0% {
    opacity: 0;
    transform-origin: top center;
    transform: rotateX(-90deg);
  }

  5% {
    opacity: 1;
  }

  80% {
    transform: rotateX(8deg);
  }

  83% {
    transform: rotateX(6deg);
  }

  92% {
    transform: rotateX(-3deg);
  }

  100% {
    transform-origin: top center;
    transform: rotateX(0deg);
  }
}

.main-steps__content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 40px;
}

.main-steps__content .main-steps__body {
  padding: 20px;
  box-shadow: 3px 4px 15px 0 rgba(42, 50, 97, 0.21);
  text-align: center;
  position: relative;
}

.main-steps__content .main-steps__body span {
  position: absolute;
  font-size: 3rem;
  font-weight: 800;
  opacity: .3;
  color: #607D8B;
=======
.main-service__content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 15px;
  margin-top: 50px;
}

.main-service__box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-service__info {
  padding: 15px 10px;
  text-align: center;
}

.main-service__title {
  color: #0B1A1C;
  font-size: 18px;
  font-weight: 600;
}

.main-service__description {
  color: gray;
  font-size: 15px;
  line-height: 23px;
  font-weight: 400;
}

.main-service__img {
  width: 100px;
  height: 100px;
}

.main-service__img img {
  width: 100%;
  height: 100%;
}

.main-footer {
  padding: 50px 0;
}

.main-footer__content {
  display: flex;
  justify-content: space-between;
}

.main-footer__contact a {
  color: #DF8239;
  font-size: 17px;
}

.main-footer__redes a {
  color: #DF8239;
  font-size: 17px;
  margin-right: 5px;
>>>>>>> 73755625bf3f1b96ec8706b973bcf159769f3701
}
