html,
body {
  overflow-x: hidden;
  /* Prevent scroll on narrow devices */
}

body {
  padding-top: 56px;
}

@media (max-width: 991.98px) {
  .offcanvas-collapse {
    position: fixed;
    top: 56px;
    /* Height of navbar */
    bottom: 0;
    left: 100%;
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    overflow-y: auto;
    visibility: hidden;
    background-color: #343a40;
    transition-timing-function: ease-in-out;
    transition-duration: .3s;
    transition-property: left, visibility;
  }

  .offcanvas-collapse.open {
    left: 0;
    visibility: visible;
  }
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  color: rgba(255, 255, 255, 0.75);
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.nav-underline .nav-link {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: .875rem;
  color: #6c757d;
}

.nav-underline .nav-link:hover {
  color: #007bff;
}

.nav-underline .active {
  font-weight: 500;
  color: #343a40;
}

.text-white-50 {
  color: rgba(255, 255, 255, 0.5);
}

.bg-purple {
  background-color: #6f42c1;
}

.lh-100 {
  line-height: 1;
}

.lh-125 {
  line-height: 1.25;
}

.lh-150 {
  line-height: 1.5;
}

.navbar {
  background-color: transparent;
  transition: .3s ease-in-out;
}

.navbar.fixed {
  height: 60px;
  background-color: #fff;
  transition: .3s ease-in-out;
}

.nav-link {
  color: #fff;
  transition: .3s ease-in-out;
}

.nav-link.fixed-color {
  color: #000;
  transition: .3s ease-in-out;
}

.nav-link:hover {
  color: #000;
}

.navbar-brand {
  width: 150px;
}

.navbar-brand img {
  width: 100%;
}

.navbar-collapse {
  justify-content: flex-end;
}

.main-banner {
  position: relative;
  overflow: hidden;
  margin-top: -80px;
}

.main-banner .main-banner__item {
  position: relative;
}

.main-banner .main-banner__text {
  position: absolute;
  top: 250px;
  width: 400px;
  left: 10%;
}

.main-banner .main-banner__text .main-banner__title p {
  padding: 0 25px;
  color: #fff;
  font-size: 60px;
  font-weight: 800;
  line-height: 1;
  margin: 0;
}

.main-banner .main-banner__text .main-banner__title span {
  padding: 0 25px;
  color: #fff;
  font-size: 60px;
  font-weight: 500;
  line-height: 1;
  margin: 0;
}

.main-banner .main-banner__text .main-banner__description {
  padding: 0 25px;
  color: #fff;
  font-size: 16px;
  line-height: 1.2rem;
  margin: 10px 0 0 0;
}

.main-banner .main-slider__next {
  position: absolute;
  right: 0px;
  bottom: 29px;
  width: 440px;
}

.main-banner .main-slider__next .main-slider__box {
  display: flex;
}

.main-banner .main-slider__next .main-slider__box .main-slider__text {
  background-color: #545759;
  width: 140px;
}

.main-banner .main-slider__next .main-slider__box .main-slider__text .main-slider__number {
  padding: 0 25px;
}

.main-banner .main-slider__next .main-slider__box .main-slider__text .main-slider__number span {
  color: #fff;
  font-size: 20px;
  font-weight: 800;
  line-height: 1;
  margin: 0;
}

.main-banner .main-slider__next .main-slider__box .main-slider__text .main-slider__number .main-slider-smaline {
  border: 0;
  border-top: 1px solid #fff;
  width: 100%;
  margin: 0 0 10px 0px;
}

.main-banner .main-slider__next .main-slider__box .main-slider__text .main-slider__title {
  padding: 0 25px;
  color: #fff;
  font-size: 20px;
  font-weight: 800;
  line-height: 1;
  margin: 0;
}

.main-banner .main-banner__img {
  width: 100%;
  height: 105vh;
}

.main-banner .main-banner__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.main-training .main-training__body {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  background: #fff;
  margin-bottom: 50px;
}

.main-training .main-training__body .main__super {
  padding: 0 50px;
}

.main-training .main-training__img {
  text-align: center;
}

.main-training .main-training__img img {
  width: 400px;
  height: 440px;
  border-radius: 5px;
  object-fit: cover;
}

.main-training .main-training__process {
  display: inline-block;
}

.main-training .main-training__process .main-training__text {
  padding: 0;
  opacity: 1;
  float: left;
  text-align: left;
  position: relative;
}

.main-training .main-training__process .main-training__text p {
  color: gray;
  font-size: 15px;
  line-height: 23px;
  font-weight: 400;
}

.main-training .main-training__process span {
  color: #ccccda;
  font-size: 4rem;
  font-weight: 800;
  margin-bottom: 70px;
}

.main-training .main-training__number {
  display: inline-flex;
  position: relative;
  align-items: center;
}

.main-training .main-training__number:nth-child(1):before {
  width: 1px;
  height: 46%;
  background: #ccccda;
  content: '';
  position: absolute;
  bottom: 0;
  left: 7%;
}

.main-training .main-training__number:nth-child(3):before {
  width: 1px;
  height: 46%;
  background: #ccccda;
  content: '';
  position: absolute;
  bottom: 0;
  left: 5%;
}

.main-training .main-training__title h2 {
  font-size: 1rem;
  font-weight: 700;
}

.main-training .main-training__container {
  margin-left: 45px;
}
